<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <connectionStrings>
    <add name="TestDB" connectionString="          Data Source =PLONE;          Initial Catalog=MYDB;          Integrated Security=true;" />
  <add name="MYDBEntities" connectionString="metadata=res://*/Model.BoardModel.csdl|res://*/Model.BoardModel.ssdl|res://*/Model.BoardModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=PLONE;initial catalog=MYDB;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" /></connectionStrings>
</configuration>